.controls {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.controls button {
    font-size: 2rem;
    width: 30px;
    background-color: transparent;
    border: none;
    color: var(--colour-text);
    text-decoration: none;
    text-align: center;
}

.controls button:hover {
    opacity: 80%;
}

.controls button:active {
    color: var(--colour-clock-timer);
    opacity: 100%;
}