.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 50vw;
}

.container h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.counters {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

p {
  margin: 1rem 0 0;
  text-align: center;
  padding: 0;
  color: var(--colour-red);
}

a {
  margin-top: 0.25rem;
  text-decoration: none;
  text-align: center;
  color: var(--colour-blue);
}

.digital {
  font-family: "Digital", serif;
  color: var(--colour-clock-timer);
}